@model IEnumerable<Web.Models.PlayerModel>

@{
    ViewData["Title"] = "Start Game";
    int i = Model.Count();
}

<h1>Start Game</h1>
<div>
    
    <form method="GET" asp-controller="Game" asp-action="Index" asp-route-id="@Model.ElementAt(0).IdGame">
        <div class="form-group">
            <label class="control-label">Id Table</label>
            <input class="chat-input" value="@Model.ElementAt(0).IdTable" disabled />
        </div>
        @if (i == 7)
        {

            <input type="submit" value="Start" class="user-button" />

        }
    </form>
    
    
    <div style="display: flex;
	flex-direction: row;">
    @foreach (var item in Model)
    {

            <div class="player-form">
                <div class="relative">
                    <h2 class="user-details-text">@Html.DisplayNameFor(model => model.Username):</h2>
                    <h3 class="">@item.Username</h3>
                </div>
                <div class="relative">
                    <h2 class="user-details-text">Image:</h2>
                    <img src="@item.PathImage" alt="Meow" class="user-details-cat-image" />
                </div>
            </div>
       
    }
        </div>
</div>


