@model IEnumerable<Web.Models.PlayerModel>

@{
    ViewData["Title"] = "Start Game";
    int i = Model.Count();
}

<h1>Start Game</h1>
<div>
    
        <form method="GET" asp-controller="Game" asp-action="Index" asp-route-id="@Model.ElementAt(0).IdGame">
                <div class="form-group">
                    <label class="control-label">Id Table</label>
                    <input class="form-control" value="@Model.ElementAt(0).IdTable" disabled />
                </div>
        @if (i==7)
        {
            
                <input type="submit" value="Edit" class="user-button" />
            
        }
    </form>
    
    

    @foreach (var item in Model)
    {
        <div>
            <div class="user-details-form">
                <div class="relative">
                    <h2 class="user-details-text">@Html.DisplayNameFor(model => model.Username):</h2>
                    <h3 class="">@item.Username</h3>
                </div>
                <div class="relative">
                    <h2 class="user-details-text">Image:</h2>
                    <img src="@item.PathImage" alt="Meow" class="user-details-cat-image" />
                </div>
            </div>
        </div>
    }

</div>


