@model Web.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <div class="user-details-form">
        <div class="relative">
            <h2 class="user-details-text">@Html.DisplayNameFor(model => model.Name):</h2>
            <h3 class="">@Html.DisplayFor(model => model.Name)</h3>
        </div>
        <div class="relative">
            <h2 class="user-details-text">@Html.DisplayNameFor(model => model.Surname):</h2>
            <h3 class="">@Html.DisplayFor(model => model.Surname)</h3>
        </div>
        <div class="relative">
            <h2 class="user-details-text">@Html.DisplayNameFor(model => model.Username):</h2>
            <h3 class="">@Html.DisplayFor(model => model.Username)</h3>
        </div>
        @* <div class="relative">
            <h2 class="user-details-text">@Html.DisplayNameFor(model => model.Password):</h2>
            <h3 class="">@Html.DisplayFor(model => model.Password)</h3>
        </div> *@
        <div class="relative">
            <h2 class="user-details-text">Image:</h2>
            <img src="@Html.DisplayFor(model => model.PathImage)" alt="Meow" class="user-details-cat-image" />
        </div>
        <form method="GET" asp-action="Edit" asp-route-id="@Model?.Id">
            <input type="submit" value="Edit" class="user-button" />
        </form>
        
    </div>
    
</div>
