
@model Web.Models.UsersPlay
@{
    ViewData["Title"] = "Create";

    Random rand = new Random(Guid.NewGuid().GetHashCode());
    int id = rand.Next(999999);
    DateOnly date = DateOnly.FromDateTime(DateTime.Now);
}

<h1>Create</h1>

<h4>Tables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" >
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id Table</label>
                <input asp-for="Id" class="form-control" value="@id" disabled />
                <input type="hidden" asp-for="Id" value="@id" />
            </div>
            <div class="form-group">
                <input asp-for="Date" class="form-control" value="@date" hidden />
            </div>
            <div class="form-group">
                <input asp-for="Host" class="form-control" value="@Model.Host" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="module" src="~/js/tables/create.js"></script>
}