@model Web.Models.HostGame

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" >
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id Table</label>
                <input asp-for="Id" class="form-control" value="@Model.Id" disabled />
                <input type="hidden" asp-for="Id" value="@Model.Id" />
            </div>
            <div class="form-group">
                <input asp-for="Date" class="form-control" value="@Model.Date" hidden />
            </div>
            <div class="form-group">
                <input asp-for="Host" class="form-control" value="@Model.Host" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="user-button"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="module" src="~/js/tables/create.js"></script>
}